<!DOCTYPE html>
<html lang="en" data-ng-app="clipApp">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {#<meta name="description" content="{{app.description}}">#}
        {#TODO have to change content in angular#}
        <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="HandheldFriendly" content="true" />
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name="author" content="Will Salazar and Roddy Nunez">
        <title>
            {% block title %}
                Asseter
            {% endblock %}
        </title>
        {% block css %}
            <!-- start: GOOGLE FONTS -->
            {#<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />#}
            <!-- end: GOOGLE FONTS -->
            <!-- start: MAIN CSS -->
            <link rel="stylesheet" href="{{ asset('bundles/asseterasseter/vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/asseterasseter/vendor/fontawesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/asseterasseter/vendor/themify-icons/themify-icons.min.css') }}">
            <link href="{{ asset('bundles/asseterasseter/vendor/animate.css/animate.min.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('bundles/asseterasseter/vendor/perfect-scrollbar/perfect-scrollbar.min.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('bundles/asseterasseter/vendor/switchery/switchery.min.css') }}" rel="stylesheet" media="screen">
            <!-- end: MAIN CSS -->
            <!-- start: CLIP-TWO CSS -->
            <link rel="stylesheet" href="{{ asset('bundles/asseterasseter/assets/css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/asseterasseter/assets/css/plugins.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/asseterasseter/assets/css/themes/theme-1.css') }}" id="skin_color" />
            <!-- end: CLIP-TWO CSS -->
        {% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
        {#<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>#}
        {#<![endif]-->#}

    {% endblock %}
</head>
<body >
{% block body %}
    {% block javascript %}
        <!-- start: MAIN JAVASCRIPTS -->
        <script src="{{ asset('bundles/asseterasseter/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/asseterasseter/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/asseterasseter/vendor/modernizr/modernizr.js') }}"></script>
        <script src="{{ asset('bundles/asseterasseter/vendor/jquery-cookie/jquery.cookie.js') }}"></script>
        <script src="{{ asset('bundles/asseterasseter/vendor/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
        <script src="{{ asset('bundles/asseterasseter/vendor/switchery/switchery.min.js') }}"></script>
        <!-- end: MAIN JAVASCRIPTS -->
        <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script src="{{ asset('bundles/asseterasseter/vendor/Chart.js/Chart.min.js') }}"></script>
        <script src="{{ asset('bundles/asseterasseter/vendor/jquery.sparkline/jquery.sparkline.min.js') }}"></script>
        <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <!-- start: CLIP-TWO JAVASCRIPTS -->
        <script src="{{ asset('bundles/asseterasseter/assets/js/main.js') }}"></script>
        <!-- start: JavaScript Event Handlers for this page -->
        <script src="{{ asset('bundles/asseterasseter/assets/js/index.js') }}"></script>
        {% block docReady %}
            <script>
            $(document).ready(function(){
                Main.init();
//                Index.init();
            });
        </script>
        {% endblock %}
    {% endblock %}
<div id="app">
    <!-- sidebar -->
    <div class="sidebar app-aside" id="sidebar">
        <div class="sidebar-container perfect-scrollbar">
            <nav>
                <!-- start: SEARCH FORM -->
                <div class="search-form">
                    <a class="s-open" href="#">
                        <i class="ti-search"></i>
                    </a>
                    <form class="navbar-form" role="search">
                        <a class="s-remove" href="#" target=".navbar-form">
                            <i class="ti-close"></i>
                        </a>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <button class="btn search-button" type="submit">
                                <i class="ti-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- end: SEARCH FORM -->
                <!-- start: MAIN NAVIGATION MENU -->
                <div class="navbar-title">
                    <span>Main Navigation</span>
                    {#TODO perhaps instead of Main Navigation put in Asseter logo#}
                </div>
                <ul class="main-navigation-menu">
                    <li class="active open">
                        <a href="index.html">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-home"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Dashboard </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-settings"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> UI Elements </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="ui_elements.html">
                                    <span class="title"> Elements </span>
                                </a>
                            </li>
                            <li>
                                <a href="ui_buttons.html">
                                    <span class="title"> Buttons </span>
                                </a>
                            </li>
                            <li>
                                <a href="ui_links.html">
                                    <span class="title"> Links </span>
                                </a>
                            </li>
                            <li>
                                <a href="ui_icons.html">
                                    <span class="title"> Font Awesome Icons </span>
                                </a>
                            </li>
                            <li>
                                <a href="ui_line_icons.html">
                                    <span class="title"> Linear Icons </span>
                                </a>
                            </li>
                            <li>
                                <a href="ui_modals.html">
                                    <span class="title"> Modals </span>
                                </a>
                            </li>
                            <li>
                                <a href="ui_toggle.html">
                                    <span class="title"> Toggle </span>
                                </a>
                            </li>
                            <li>
                                <a href="ui_tabs_accordions.html">
                                    <span class="title"> Tabs &amp; Accordions </span>
                                </a>
                            </li>
                            <li>
                                <a href="ui_panels.html">
                                    <span class="title"> Panels </span>
                                </a>
                            </li>
                            <li>
                                <a href="ui_notifications.html">
                                    <span class="title"> Notifications </span>
                                </a>
                            </li>
                            <li>
                                <a href="ui_treeview.html">
                                    <span class="title"> Treeview </span>
                                </a>
                            </li>
                            <li>
                                <a href="ui_media.html">
                                    <span class="title"> Media Object </span>
                                </a>
                            </li>
                            <li>
                                <a href="ui_nestable.html">
                                    <span class="title"> Nestable List </span>
                                </a>
                            </li>
                            <li>
                                <a href="ui_typography.html">
                                    <span class="title"> Typography </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-layout-grid2"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Tables </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="table_basic.html">
                                    <span class="title">Basic Tables</span>
                                </a>
                            </li>
                            <li>
                                <a href="table_responsive.html">
                                    <span class="title">Responsive Tables</span>
                                </a>
                            </li>
                            <li>
                                <a href="table_data.html">
                                    <span class="title">Advanced Data Tables</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-pencil-alt"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Forms </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="form_elements.html">
                                    <span class="title">Form Elements</span>
                                </a>
                            </li>
                            <li>
                                <a href="form_text_editor.html">
                                    <span class="title">Text Editor</span>
                                </a>
                            </li>
                            <li>
                                <a href="form_wizard.html">
                                    <span class="title">Form Wizard</span>
                                </a>
                            </li>
                            <li>
                                <a href="form_validation.html">
                                    <span class="title">Form Validation</span>
                                </a>
                            </li>
                            <li>
                                <a href="form_image_cropping.html">
                                    <span class="title">Image Cropping</span>
                                </a>
                            </li>
                            <li>
                                <a href="form_multiple_upload.html">
                                    <span class="title">Multiple File Upload</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-user"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Login </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="login_signin.html">
                                    <span class="title"> Login Form </span>
                                </a>
                            </li>
                            <li>
                                <a href="login_registration.html">
                                    <span class="title"> Registration Form </span>
                                </a>
                            </li>
                            <li>
                                <a href="login_forgot.html">
                                    <span class="title"> Forgot Password Form </span>
                                </a>
                            </li>
                            <li>
                                <a href="login_lockscreen.html">
                                    <span class="title">Lock Screen</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-layers-alt"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Pages </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="pages_user_profile.html">
                                    <span class="title">User Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="pages_invoice.html">
                                    <span class="title">Invoice</span>
                                </a>
                            </li>
                            <li>
                                <a href="pages_timeline.html">
                                    <span class="title">Timeline</span>
                                </a>
                            </li>
                            <li>
                                <a href="pages_calendar.html">
                                    <span class="title">Calendar</span>
                                </a>
                            </li>
                            <li>
                                <a href="pages_messages.html">
                                    <span class="title">Messages</span>
                                </a>
                            </li>
                            <li>
                                <a href="pages_blank_page.html">
                                    <span class="title">Blank Page</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-package"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Utilities </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="utilities_search_result.html">
                                    <span class="title">Search Results</span>
                                </a>
                            </li>
                            <li>
                                <a href="utilities_error_404.html">
                                    <span class="title">Error 404</span>
                                </a>
                            </li>
                            <li>
                                <a href="utilities_error_500.html">
                                    <span class="title">Error 500</span>
                                </a>
                            </li>
                            <li>
                                <a href="utilities_pricing_table.html">
                                    <span class="title">Pricing Table</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-folder"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> 3 Level Menu </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;">
                                    <span>Item 1</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                            Sample Link 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sample Link 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sample Link 3
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>Item 2</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                            Sample Link 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sample Link 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sample Link 3
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>Item 3</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                            Sample Link 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sample Link 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sample Link 3
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-menu-alt"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> 4 Level Menu </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;">
                                    <span>Item 1</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:;">
                                            <span>Sample Link 1</span> <i class="icon-arrow"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">
                                                    Sample Link 1
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 2
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 3
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span>Sample Link 2</span> <i class="icon-arrow"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">
                                                    Sample Link 1
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 2
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 3
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span>Sample Link 3</span> <i class="icon-arrow"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">
                                                    Sample Link 1
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 2
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 3
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>Item 2</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:;">
                                            <span>Sample Link 1</span> <i class="icon-arrow"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">
                                                    Sample Link 1
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 2
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 3
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span>Sample Link 2</span> <i class="icon-arrow"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">
                                                    Sample Link 1
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 2
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 3
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span>Sample Link 3</span> <i class="icon-arrow"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">
                                                    Sample Link 1
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 2
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 3
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>Item 3</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:;">
                                            <span>Sample Link 1</span> <i class="icon-arrow"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">
                                                    Sample Link 1
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 2
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 3
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span>Sample Link 2</span> <i class="icon-arrow"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">
                                                    Sample Link 1
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 2
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 3
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span>Sample Link 3</span> <i class="icon-arrow"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">
                                                    Sample Link 1
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 2
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Sample Link 3
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="maps.html">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-location-pin"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Maps </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="charts.html">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-pie-chart"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Charts </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- end: MAIN NAVIGATION MENU -->
                <!-- start: CORE FEATURES -->
                <div class="navbar-title">
                    <span>Core Features</span>
                </div>
                <ul class="folders">
                    <li>
                        <a href="pages_calendar.html">
                            <div class="item-content">
                                <div class="item-media">
                                    <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Calendar </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="pages_messages.html">
                            <div class="item-content">
                                <div class="item-media">
                                    <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-folder-open-o fa-stack-1x fa-inverse"></i> </span>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Messages </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- end: CORE FEATURES -->
                <!-- start: DOCUMENTATION BUTTON -->
                <div class="wrapper">
                    <a href="documentation.html" class="button-o">
                        <i class="ti-help"></i>
                        <span>Documentation</span>
                    </a>
                </div>
                <!-- end: DOCUMENTATION BUTTON -->
            </nav>
        </div>
    </div>
    <!-- / sidebar -->

    <div class="app-content">
        <!-- start: TOP NAVBAR -->
        <header class="navbar navbar-default navbar-static-top">
            <!-- start: NAVBAR HEADER -->
            <div class="navbar-header">
                <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                    <i class="ti-align-justify"></i>
                </a>
                <a class="navbar-brand" href="#">
                    <img src="assets/images/logo.png" alt="Clip-Two"/>
                </a>
                <a href="#" class="sidebar-toggler pull-right visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
                    <i class="ti-align-justify"></i>
                </a>
                <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="ti-view-grid"></i>
                </a>
            </div>
            <!-- end: NAVBAR HEADER -->
            <!-- start: NAVBAR COLLAPSE -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-right">
                    <!-- start: MESSAGES DROPDOWN -->
                    <li class="dropdown">
                        <a href class="dropdown-toggle" data-toggle="dropdown">
                            <span class="dot-badge partition-red"></span> <i class="ti-comment"></i> <span>MESSAGES</span>
                        </a>
                        <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large">
                            <li>
                                <span class="dropdown-header"> Unread messages</span>
                            </li>
                            <li>
                                <div class="drop-down-wrapper ps-container">
                                    <ul>
                                        <li class="unread">
                                            <a href="javascript:;" class="unread">
                                                <div class="clearfix">
                                                    <div class="thread-image">
                                                        <img src="./assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                    <div class="thread-content">
                                                        <span class="author">Nicole Bell</span>
                                                        <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                                        <span class="time"> Just Now</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="unread">
                                                <div class="clearfix">
                                                    <div class="thread-image">
                                                        <img src="./assets/images/avatar-3.jpg" alt="">
                                                    </div>
                                                    <div class="thread-content">
                                                        <span class="author">Steven Thompson</span>
                                                        <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                                        <span class="time">8 hrs</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="clearfix">
                                                    <div class="thread-image">
                                                        <img src="./assets/images/avatar-5.jpg" alt="">
                                                    </div>
                                                    <div class="thread-content">
                                                        <span class="author">Kenneth Ross</span>
                                                        <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                                        <span class="time">14 hrs</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="view-all">
                                <a href="#">
                                    See All
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end: MESSAGES DROPDOWN -->
                    <!-- start: ACTIVITIES DROPDOWN -->
                    <li class="dropdown">
                        <a href class="dropdown-toggle" data-toggle="dropdown">
                            <i class="ti-check-box"></i> <span>ACTIVITIES</span>
                        </a>
                        <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large">
                            <li>
                                <span class="dropdown-header"> You have new notifications</span>
                            </li>
                            <li>
                                <div class="drop-down-wrapper ps-container">
                                    <div class="list-group no-margin">
                                        <a class="media list-group-item" href="">
                                            <img class="img-circle" alt="..." src="assets/images/avatar-1.jpg">
                                            <span class="media-body block no-margin"> Use awesome animate.css <small class="block text-grey">10 minutes ago</small> </span>
                                        </a>
                                        <a class="media list-group-item" href="">
                                            <span class="media-body block no-margin"> 1.0 initial released <small class="block text-grey">1 hour ago</small> </span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="view-all">
                                <a href="#">
                                    See All
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end: ACTIVITIES DROPDOWN -->
                    <!-- start: LANGUAGE SWITCHER -->
                    <li class="dropdown">
                        <a href class="dropdown-toggle" data-toggle="dropdown">
                            <i class="ti-world"></i> English
                        </a>
                        <ul role="menu" class="dropdown-menu dropdown-light fadeInUpShort">
                            <li>
                                <a href="#" class="menu-toggler">
                                    Deutsch
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu-toggler">
                                    English
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu-toggler">
                                    Italiano
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- start: LANGUAGE SWITCHER -->
                    <!-- start: USER OPTIONS DROPDOWN -->
                    <li class="dropdown current-user">
                        <a href class="dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/images/avatar-1.jpg" alt="Peter"> <span class="username">Peter <i class="ti-angle-down"></i></i></span>
                        </a>
                        <ul class="dropdown-menu dropdown-dark">
                            <li>
                                <a href="pages_user_profile.html">
                                    My Profile
                                </a>
                            </li>
                            <li>
                                <a href="pages_calendar.html">
                                    My Calendar
                                </a>
                            </li>
                            <li>
                                <a hef="pages_messages.html">
                                    My Messages (3)
                                </a>
                            </li>
                            <li>
                                <a href="login_lockscreen.html">
                                    Lock Screen
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end: USER OPTIONS DROPDOWN -->
                </ul>
                <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
                <div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                    <div class="arrow-left"></div>
                    <div class="arrow-right"></div>
                </div>
                <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
            </div>
            {#<a class="dropdown-off-sidebar" data-toggle-class="app-offsidebar-open" data-toggle-target="#app" data-toggle-click-outside="#off-sidebar">#}
                {#&nbsp;#}
            {#</a>#}
            <!-- end: NAVBAR COLLAPSE -->
        </header>
        <!-- end: TOP NAVBAR -->
        {% block content %}
        {% endblock %}
    </div>

    <!-- START settings -->
    <div id="settings" class="settings panel panel-default hidden-xs hidden-sm">
        <button class="btn btn-default" data-toggle-target="#settings" data-toggle-class="active" ct-toggle="toggle">
            <i class="fa fa-spin fa-gear"></i>
        </button>
        <div class="panel-heading">
            Style Selector
        </div>
        <div class="panel-body">
            <!-- start: FIXED HEADER -->
            <div class="setting-box clearfix">
                <span class="setting-title pull-left"> Fixed header</span>
						<span class="setting-switch pull-right">
							<input type="checkbox" id="fixed-header" class="js-switch" style="display: none;" data-switchery="true"><span class="switchery switchery-default" style="background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: 0px 0px 0px 16px rgb(100, 189, 99) inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;"><small style="left: 20px; background-color: rgb(255, 255, 255); transition: left 0.2s ease 0s;"></small></span>
						</span>
            </div>
            <!-- end: FIXED HEADER -->
            <!-- start: FIXED SIDEBAR -->
            <div class="setting-box clearfix">
                <span class="setting-title pull-left">Fixed sidebar</span>
						<span class="setting-switch pull-right">
							<input type="checkbox" id="fixed-sidebar" class="js-switch" style="display: none;" data-switchery="true"><span class="switchery switchery-default" style="background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: 0px 0px 0px 16px rgb(100, 189, 99) inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;"><small style="left: 20px; background-color: rgb(255, 255, 255); transition: left 0.2s ease 0s;"></small></span>
						</span>
            </div>
            <!-- end: FIXED SIDEBAR -->
            <!-- start: CLOSED SIDEBAR -->
            <div class="setting-box clearfix">
                <span class="setting-title pull-left">Closed sidebar</span>
						<span class="setting-switch pull-right">
							<input type="checkbox" id="closed-sidebar" class="js-switch" style="display: none;" data-switchery="true"><span class="switchery switchery-default" style="box-shadow: 0px 0px 0px 0px rgb(223, 223, 223) inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; background-color: rgb(255, 255, 255); transition: left 0.2s ease 0s;"></small></span>
						</span>
            </div>
            <!-- end: CLOSED SIDEBAR -->
            <!-- start: FIXED FOOTER -->
            <div class="setting-box clearfix">
                <span class="setting-title pull-left">Fixed footer</span>
						<span class="setting-switch pull-right">
							<input type="checkbox" id="fixed-footer" class="js-switch" style="display: none;" data-switchery="true"><span class="switchery switchery-default" style="box-shadow: 0px 0px 0px 0px rgb(223, 223, 223) inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; background-color: rgb(255, 255, 255); transition: left 0.2s ease 0s;"></small></span>
						</span>
            </div>
            <!-- end: FIXED FOOTER -->
            <!-- start: THEME SWITCHER -->
            <div class="colors-row setting-box">
                <div class="color-theme theme-1">
                    <div class="color-layout">
                        <label>
                            <input type="radio" value="theme-1" name="setting-theme">
                            <span class="ti-check"></span>
                            <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                            <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                        </label>
                    </div>
                </div>
                <div class="color-theme theme-2">
                    <div class="color-layout">
                        <label>
                            <input type="radio" value="theme-2" name="setting-theme">
                            <span class="ti-check"></span>
                            <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                            <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="colors-row setting-box">
                <div class="color-theme theme-3">
                    <div class="color-layout">
                        <label>
                            <input type="radio" value="theme-3" name="setting-theme">
                            <span class="ti-check"></span>
                            <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                            <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                        </label>
                    </div>
                </div>
                <div class="color-theme theme-4">
                    <div class="color-layout">
                        <label>
                            <input type="radio" value="theme-4" name="setting-theme">
                            <span class="ti-check"></span>
                            <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                            <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="colors-row setting-box">
                <div class="color-theme theme-5">
                    <div class="color-layout">
                        <label>
                            <input type="radio" value="theme-5" name="setting-theme">
                            <span class="ti-check"></span>
                            <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                            <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                        </label>
                    </div>
                </div>
                <div class="color-theme theme-6">
                    <div class="color-layout">
                        <label>
                            <input type="radio" value="theme-6" name="setting-theme">
                            <span class="ti-check"></span>
                            <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                            <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- end: THEME SWITCHER -->
        </div>
    </div>
    <!-- END settings -->
</div><!--/#app -->
{% endblock %}

</body>
</html>