<script>
    $(document).ready(function(){
        $('#fos_user_registration_form_plainPassword_first').addClass('form-control').attr('placeholder','Password');
        $('#fos_user_registration_form_plainPassword_second').addClass('form-control').attr('placeholder','Confirm Password');
    });
</script>
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="box-register">
            <h2 class="page-header">User Registration</h2>
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                <fieldset>
                    <legend>
                        Sign Up
                    </legend>
                    <p>
                        Enter your personal details below:
                    </p>
                    <div class="form-group">
                        {{ form_widget(form.firstName) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.lastName) }}
                    </div>
                    <div class="form-group">
                        <label class="block">
                            Gender
                        </label>
                        <div class="clip-radio radio-primary">
                            {{ form_widget(form.gender) }}
                        </div>
                    </div>
                    <p>
                        Enter your account details below:
                    </p>
                    <div class="form-group">
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.plainPassword) }}
                    </div>
                    {{ form_row(form._token) }}

                    <div class="form-actions">
                        <p>
                            Already have an account?
                            <a href="{{ path('fos_user_security_login') }}">
                                Log-in
                            </a>
                        </p>
                        <input type="submit" class="btn btn-primary pull-right" value="Submit" />

                    </div>
                </fieldset>
            </form>
        </div>
     </div>
</div>
