<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <!-- start: REGISTER BOX -->
        <div class="box-register">
            <h2 class="page-header">User Registration</h2>
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-register">
                    <fieldset>
                        <legend>
                            Sign Up
                        </legend>
                        <p>
                            Enter your personal details below:
                        </p>
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" name="asseter_user_registration[firstName]" placeholder="First Name">

                            {#{{ form_widget(form.firstName) }}#}
                            {#{{ form_errors(form.firstName) }}#}
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" name="asseter_user_registration[lastName]" placeholder="Last Name">

                            {#{{ form_widget(form.lastName) }}#}
                            {#{{ form_errors(form.lastName) }}#}
                        </div>
                        <div class="form-group">
                            <label class="block">
                                Gender
                            </label>
                            <div class="clip-radio radio-primary">
                                <input type="radio" id="rg-female" class="form-control" name="asseter_user_registration[gender]" value="1">
                                <label for="rg-female">
                                    Female
                                </label>
                                <input type="radio" id="rg-male"  class="form-control" required="required" name="asseter_user_registration[gender]" value="0" />
                                <label for="rg-male">
                                    Male
                                </label>

                                {#{{ form_widget(form.gender) }}#}
                                {#{{ form_errors(form.gender) }}#}
                                {#<input type="radio" id="rg-female" name="gender" value="female">#}
                                {#<label for="rg-female">#}
                                {#Female#}
                                {#</label>#}
                                {#<input type="radio" id="rg-male" name="gender" value="male">#}
                                {#<label for="rg-male">#}
                                {#Male#}
                                {#</label>#}
                            </div>
                        </div>
                        <p>
                            Enter your account details below:
                        </p>
                        <div class="form-group">
                            <span class="input-icon">
                                <input type="email" class="form-control" required="required" name="asseter_user_registration[email]" placeholder="Email">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="input-icon">
                                <input type="password" class="form-control" required="required" id="password" name="asseter_user_registration[password]" placeholder="Password">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="input-icon">
                                <input type="password" class="form-control" required="required" id="password" name="asseter_user_registration[plainPassword]" placeholder="Confirm Password">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <div class="form-actions">
                            <p>
                                Already have an account?
                                <a href="{{ path('fos_user_security_login') }}">
                                    Log-in
                                </a>
                            </p>
                                <input type="submit" class="btn btn-primary pull-right" name="submit" value="Submit" />
                        </div>
                    </fieldset>
                </form>
        </div>
    </div>
</div>
