{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">

        <div class="box-login">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <fieldset>
                    <legend>
                        Sign in to your account
                    </legend>
                    <p>
                        Please enter your name and password to log in.
                    </p>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="form-group">
                        <span class="input-icon">
                            {#<label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>#}
                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Enter your username" autofocus />
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="form-group form-actions">
                        <span class="input-icon">
                            {#<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>#}
                            <input type="password" class="form-control password" id="password" name="_password" required="required" placeholder="Enter your password"/>
                            <i class="fa fa-lock"></i>
                            <a class="forgot" href="login_forgot.html">
                                I forgot my password
                            </a>
                        </span>
                    </div>
                    <div class="form-actions">
                        <div class="checkbox clip-check check-primary">
                            <input type="checkbox" id="remember" value="1">
                            <label for="remember">
                                Keep me signed in
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">
                            Login <i class="fa fa-arrow-circle-right"></i>
                        </button>
                        {#<input class="btn btn-primary pull-right" type="submit" id="_submit" name="_submit" value="Login" /><i class="pull-right fa fa-arrow-circle-right"></i>#}
                        {#<input class="btn btn-primary pull-right" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" /><i class="fa fa-arrow-circle-right"></i>#}
                    </div>
                    <div class="new-account">
                        Don't have an account yet?
                        <a href="{{ path('fos_user_registration_register') }}">
                            Create an account
                        </a>
                    </div>
                </fieldset>
            </form>
        </div>

        {% if error %}
            <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}
        {#</div>#}
    </div>
</div>
{% endblock fos_user_content %}
