{#{% extends 'AsseterUserBundle::layout.html.twig' %}#}
{% extends 'AsseterAsseterBundle::layout.html.twig' %}

{% block title %}Asseter Login{% endblock %}

{% block content %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}
