{% extends "AsseterAsseterBundle::layout.html.twig" %}
{% block content %}
<div class="main-content" >
    <div class="wrap-content container" id="container">
        <section id="page-title" class="padding-top-15 padding-bottom-15"></section>
        Hello {{ name }}!
    </div>
</div>
{% endblock %}
